*{
  overflow: hidden;
}
.malhaar-logo img{
  /* position: absolute; */
 top: 11%;
 margin-left: 37%;
 width: 25rem;
 height: 25rem;
 margin-top: 5rem;
}
.main{
  align-content: center;
}
.malhaar-text{
  color: aqua;
  position: absolute;
  bottom: 17%;
  margin-left: 38.5%;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  z-index: 2;
  
}

h3.timer{
  z-index: 2;
  margin-top:6%;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
@media screen and (max-width: 900px) {
  .malhaar-logo img{
  margin-left: 12rem;
  width: 20rem;
  height: 20rem;
  margin-right: 12rem;
  }

  .malhaar-text{  
    font-size: 2rem;
    margin-right: 3rem;
    margin-left: 10rem;
    text-align: center;
    
  }

  h3.timer{
    text-align: center;
    margin-top: 8rem;
    color: white;
    font-size: 1.3rem;
  }
  
}

@media screen and (max-width: 438px) {
  .malhaar-logo img{
    
margin-left: 1vh;
width: 21rem;
height: 21rem;


  }

  .malhaar-text{
   
    font-size: 2rem;
    
   
    
    margin-right: 3rem;
    margin-left: 3rem;
    
  }
  h3.timer{
    position: absolute;
    margin-top: 15vh;
    margin-left: 2%;
    color: white;
    font-size: 2rem;
  }
 
}
